@layout('layouts/default')

@set('title', 'My Karaoke')
@set('description', '')

@section('body')
  <section x-data="source()">
    <p>Micro</p>
    <span class="media-id"></span>
    <span class="socket-id"></span>
    <video></video>
  </section>
@end
